<ion-header>
    <header-bar title="Scan a QR code"></header-bar>
</ion-header>

<ion-content no-scroll [ngClass]="{'transparentBody':isCameraShown}">
    <div *ngIf="isCameraShown && !contentWasScanned" style="text-align: center">
        <div class='qrscanner-area'> </div>
        <div class='through-line'></div>
        <div class="button-bottom">
            <button (click)="toggleLight()" ion-fab class="icon-light" margin-right>
                <ion-icon name="flash"></ion-icon>
            </button>
        </div>
        <!-- DEBUG <div style="width:100%;padding:10px;background:green; color:white" *ngIf="contentWasScanned">
            {{scannedText}}
        </div>-->
    </div>
    <div *ngIf="contentWasScanned">
        <ion-grid>
            <ion-row>
                <ion-col col-2></ion-col>            
                <ion-col col-8 text-center>
                    <h3>Code scanned</h3>
                    <p>Opening</p>
                    <p>
                        <ion-spinner name="crescent"></ion-spinner>
                    </p>
                </ion-col>
                <ion-col col-2></ion-col>      
            </ion-row>
        </ion-grid>
    </div>
</ion-content>