
.qrscanner-area {
    position: fixed;
    height: 100%;
    width: 100%;
    background: url(../../../assets/imgs/scanner.svg) no-repeat center center;
    background-size: contain;
}

.through-line {
    left: 25%;
    width: 50%;
    height: 2px;
    background: red;
    position: absolute;
    animation: lineAnimation 2s linear infinite alternate;
}
@keyframes lineAnimation {
    0% {
        background: red;
        top: 35%;
    }
    20% {
        background: yellow;
        top: 40%;
    }
    40% {
        background: blue;
        top: 45%;
    }
    60% {
        background: greenyellow;
        top: 50%;
    }
    80% {
        background: salmon;
        top: 55%;
    }
    100% {
        background: red;
        top: 60%;
    }
}

.transparentBody {
    background: transparent none !important;
    --background: none transparent;
}
